/* Color Scheme
    -- FRESH(LIGHT GREEN) #4ABDAC  
    -- VERMILLION(ORANGE/RED) #FC4A1A
    -- SUNSHINE #F78733 
    -- CLEAN(GRAY) #DFDCE3
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #dfdce3;
  --background-todo: #4abdac;
  --text-active: #fc4a1a;
  --todo-cards: #fc4a1a;
}

/* Styling Sections
    -- signin styling --
*/

/* -- nav styling -- */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-todo);
  height: 10vh;
}

.nav-logo-name {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

#nav-logo-container {
  width: 10rem;
  height: 10rem;
}

#logo {
  height: 3.5rem;
  width: 3.5rem;
}
.nav-controls {
  list-style-type: none;
}

.nav-controls li {
  display: inline-block;
  margin-right: 1rem;
}

/* -- signin styling --  */

.nav-signin-btn:hover {
  cursor: pointer;
  color: var(--text-active);
  transition: 0.09s;
}

#signin-modal-overlay {
  display: none;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #a9a9a9;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

#signin-modal-container {
  background-color: rgb(235, 233, 233);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
}

#signin-modal-cancel-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* -- todo cards -- */

#todo-output {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f78733;
  height: 90vh;
}
.todo-card {
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--background-todo);
  border-radius: 0.5rem;
  box-shadow: -2px 2px 5px black;
  min-width: 15rem;
}

#todo-date {
  font-size: 0.8rem;
  color: rgb(99, 99, 99);
  line-height: 0.8rem;
}

.todo-card-btns {
  display: inline-block;
}

#todo-card-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#due-date-indicator-upcoming {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-image: radial-gradient(circle at 70% 30%, white, rgb(197, 194, 0));
  box-shadow: -2px 2px 5px black;
  margin-right: 0.3rem;
}

#due-date-indicator-expired {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-image: radial-gradient(circle at 70% 30%, white, red);
  box-shadow: -2px 2px 5px black;
  margin-right: 0.3rem;
}
/* .expired {
  border: 2px solid red;
  box-shadow: 3px 3px 5px red;
}

.upcoming {
  border: 2px solid yellow;
  box-shadow: 3px 3px 5px yellow;
} */

#date-indicator-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
