/* Color Scheme
    -- FRESH(LIGHT GREEN) #4ABDAC  
    -- VERMILLION(ORANGE/RED) #FC4A1A
    -- SUNSHINE #F78733 
    -- CLEAN(GRAY) #DFDCE3
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #dfdce3;
  --background-todo: #4abdac;
  --text-active: #fc4a1a;
  --todo-cards: #fc4a1a;
}

/* Styling sections
    -- Nav --
    -- Signin --
    -- Main Todo Container --
    -- Todo Output Area --
    -- Todo Cards --
*/

/* -- nav styling -- */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-todo);
  height: 10vh;
}

.nav-logo-name {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

#nav-logo-container {
  width: 10rem;
  height: 10rem;
}

#logo {
  height: 3.5rem;
  width: 3.5rem;
}
.nav-controls {
  list-style-type: none;
}

.nav-controls li {
  display: inline-block;
  margin-right: 1rem;
}

/* -- signin styling --  */

.nav-signin-btn:hover {
  cursor: pointer;
  color: var(--text-active);
  transition: 0.09s;
}

#signin-modal-overlay {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #a9a9a9;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

#signin-modal-container {
  background-color: rgb(235, 233, 233);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
}

#signin-modal-cancel-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* -- Main Todo Container -- */
#main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}

/* -- Todo Output Area -- */

#todo-output {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3fr);
  background-color: red;
  height: 90vh;
}

#current-todo-outer-container {
  display: grid;
  grid-template-columns: minmax(3rem, 4rem) 8fr;
  text-align: center;
}

#current-todo-inner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: green;
  overflow: auto;
}

#row-header {
  display: inline-block;
  line-height: 30vh;
  transform: rotate(-60deg);
  opacity: 0.3;
}

#expired-todo-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: blue;
}

#expired-todo-outer-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
#completed-todo-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: gray;
}

#completed-todo-outer-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding-left: 4rem;
}

/* -- todo cards -- */

.todo-card {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--background-todo);
  border-radius: 0.5rem;
  box-shadow: -2px 2px 5px black;
  min-width: 15rem;
  max-width: 25rem;
}

#todo-date {
  font-size: 0.8rem;
  color: rgb(99, 99, 99);
  line-height: 0.8rem;
}

.todo-card-btns {
  display: inline-block;
}

#todo-card-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#due-date-indicator-upcoming {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-image: radial-gradient(circle at 70% 30%, white, rgb(197, 194, 0));
  box-shadow: -2px 2px 5px black;
  margin-right: 0.3rem;
}

#due-date-indicator-expired {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-image: radial-gradient(circle at 70% 30%, white, red);
  box-shadow: -2px 2px 5px black;
  margin-right: 0.3rem;
}

#date-indicator-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -- Create Todo -- */
#create-todo-form {
  grid-column: 1 /2;
  grid-row: 1 / 4;
}
